[submodule "riscv64-nommu-buildroot"]
	path = riscv64-nommu-buildroot
	url = https://github.com/damien-lemoal/riscv64-nommu-buildroot
[submodule "busybox"]
	path = busybox
	url = git://git.busybox.net/busybox.git
[submodule "tinycc"]
	path = tinycc
	url = https://repo.or.cz/tinycc.git
